{% extends 'base.html' %}

{% block head %}

{% endblock %}
    Detox | Analyse
{% block body %}

<h1>Toxicity levels for your entered data!</h1>

<div class="text">
    <h2>Analysis of Text :</h2>
    <br>
    <div>
        Toxicity : {{text[0]}} %
    </div>
    <div>
        Insult : {{text[1]}} %
    </div>
    <div>
        Profanity : {{text[2]}} %
    </div>
    <div>
        Threat : {{text[3]}} %
    </div>
</div>

<div class="youtube">
    <h2>Analysis of Youtube videos :</h2>
    <br>
    <div>
        Toxicity : {{yt[0]}} % comments
    </div>
    <div>
        Insult : {{yt[1]}} % comments
    </div>
    <div>
        Profanity : {{yt[2]}} % comments
    </div>
    <div>
        Threat : {{yt[3]}} % comments
    </div>
</div>

<form action = "/analyse" method="POST">
    <button type="submit" value="done">Do another Analysis!</button>
</form>

{% endblock %}